@page "/counter"
@using ClassLibrary.Models;

<h1>Videos</h1>

@foreach (var video in Videos)
{
    <iframe width="560" height="315" src="@video.VideoEmbedLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
}

@code {
    public List<Video> Videos = new();
    string[] VideoIds = { "EVnJkgcx3Fo", "RkV7URSvaT8", "MmVmeRIjbr4", "MmVmeRIjbr4", "EVnJkgcx3Fo" };

    public void GetVideos()
    {
        foreach (var id in VideoIds)
        {
            Video video = new();
            video.VideoId = id;
            video.VideoEmbedLink = $"https://www.youtube-nocookie.com/embed/{id}";
            Videos.Add(video);
        }
    }

    protected override void OnInitialized()
    {
        GetVideos();
    }
}
